/* CSS */
.underline-hover {
    position: relative;
    transition: background-color 0.3s;
  }
  
  .underline-hover:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff; /* Change this color to the desired underline color */
  }
  
  /* style.css */

.navbar-nav {
    margin-left: 130px; /* Adjust the margin as needed */
  }
  /* style.css */

/* style.css */

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-label {
  position: absolute;
  pointer-events: none;
  left: 1rem;
  bottom: calc(100% - 2.5rem); /* Adjusted positioning */
  font-size: 16px;
  color: #999;
  transition: bottom 0.3s, font-size 0.3s;
  width: calc(100% - 2rem); /* Adjusted width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-group input:focus + .form-label,
.form-group input:valid + .form-label {
  top: -1rem;
  font-size: 12px;
}

.custom-logout-btn {
  color: white; /* Set the desired font color */
}


/* Example CSS */

body {
  font-family: 'Blinker', sans-serif;
}

  
 
  